/*
================ SHEET PANE ================
 */
.sheet-pane {
    -fx-padding:           20px 40px;
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-alignment:         top-center;
}

.sheet-pane .viewport {
    -fx-background-color: transparent;
}

.page-container {
    -fx-background-color:  white;
    -fx-effect:            dropshadow(gaussian, rgba(0, 0, 0, 0.13), 12, 0.35, 0, 2);
    -fx-alignment:         top-center;
    -fx-padding:           12 6;
    -fx-border-color:      #e0e0e0;
    -fx-border-width:      0 0 1 0;
}

.header {
    -fx-spacing: 20px;
    -fx-padding: 0 0 20 0;
}

.title-input {
    -fx-font-size:        24;
    -fx-font-family:      "Arial Black";
    -fx-text-fill:        #1a1a1a;
    -fx-alignment:        center;
    -fx-max-width:        Infinity;
    -fx-background-color: transparent;
    -fx-border-width:     0;
}

.creator-input {
    -fx-font-size:        16;
    -fx-font-family:      "Times New Roman";
    -fx-text-fill:        #4a4540;
    -fx-alignment:        center-right;
    -fx-max-width:        Infinity;
    -fx-padding:          20 0 0 0;
    -fx-background-color: transparent;
    -fx-border-width:     0;
}