/*
================ MENU BAR ================
 */

.menu-bar {
    -fx-background-color: transparent;
    -fx-spacing: 10px;
}

.menu-bar .container {
    -fx-background-color: transparent;
    -fx-spacing: 8px;
}

.menu-bar .menu {
    -fx-background-color: transparent;
    -fx-padding: 6px 10px;
    -fx-text-fill: #6b6358;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-weight: 500;
    -fx-cursor: hand;
}

.menu-bar .menu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.51);
    -fx-background-radius: 4px;
}

.menu-bar .menu:showing {
    -fx-background-color: #4a90e2;
    -fx-text-fill: white;
}

.menu-bar .menu .label {
    -fx-text-fill: #6b6358;
}

.menu-bar .menu:hover .label,
.menu-bar .menu:showing .label {
    -fx-text-fill: #6b6358;
}

.status-container {
    -fx-border-radius: 25%;
    -fx-padding: 6px 2px;
}

/*
================ NAVIGATION BAR ================
 */

.navigation-bar {
    -fx-background-color: #e8e4dd;
    -fx-border-color: rgba(0,0,0,0.08);
    -fx-border-width: 1px 0 1px 0;
}

.navigation-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #554e49;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.navigation-btn:hover {
    -fx-background-color: rgba(12, 12, 12, 0.05);
    -fx-cursor: hand;
}

.navigation-btn .graphic-container {
    -fx-padding: 0 20px 0 0;
}